* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.my-header {
  background-color: #006699;
}
.my-header > h1 {
  color: #fff;
}
.my-header > a {
  color: #fff;
}
.my-footer {
  background-color: #006699;
}
.my-footer .mui-tab-item {
  color: #fff;
}
.my-footer .mui-tab-item.mui-active {
  color: darkorange;
}
