.my-content{
  position: absolute;
  left: 0;
  top:44px;
  bottom: 50px;
  width: 100%;
  .content-left{
    height: 100%;
    width: 80px;
    float: left;
    position: relative;
    background-color: #f5f5f5;
    .content-first{
      background-color: #fff;
      .items-first{
        display: block;
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-size: 14px;
        color: #0f0f0f;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0 ;
        &.active{
          background-color:#f5f5f5 ;
          border-right:none;
        }
      }
    }
  }



  .content-right{
    height: 100%;
    margin-left: 90px;
    position: relative;
    margin-top: 10px;
    .items-second{
      li{
        float: left;
        width: 33.33%;
        a{
          display: block;
          background-color: #fff;
          img{
            width: 100%;
            display: block;
          }
          span{
            display: block;
            text-align: center;
            font-size: 12px;
            color: #8f8f94;
          }
        }
      }
      .noData{
        height: 30px;
        line-height: 30px;
        background-color: #fff;
        font-size: 14px;
        padding-left: 15px;
      }
    }
  }
}