.my-content {
  position: absolute;
  left: 0;
  top: 44px;
  bottom: 50px;
  width: 100%;
}
.my-content .content-left {
  height: 100%;
  width: 80px;
  float: left;
  position: relative;
  background-color: pink;
}
.my-content .content-right {
  height: 100%;
  margin-left: 90px;
  position: relative;
}
